body {
	background-color: gainsboro;
	/* Use a system font, if none are available use an available sans-sarif */
	font-family: system-ui, sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: transparent;
	
	
}
.headerbox {
	height: 10%;
	margin: 5%;

}
h1,
h2 {
	text-align: center;
	
}
.navAndBoard {
	display: flex;
	flex-direction: row;
	
	height: 70vh%
	width: 70vw;
}
nav {
	height: 70vh;
	width: 15vw;
	display: flex;
	flex-direction: column; 
	
}

#board {
	
	padding: 0;
	margin: 0;
	
	display: grid;
	
	grid-template-columns: repeat(11, 0.8fr);
	grid-template-rows: auto;
	
	border: 1px solid black;
	
	
	font-size: 4vw;
	color: gainsboro;
	aspect-ratio: 1/1;
	align-content: center;
	object-fit:contain;
	
}
.cell {
	height: 9vw;
	width: 9vw;
	aspect-ratio: 1/1;
	
	
	
	
	border: 1px solid black;
	color: black;
	font-size: 1.3em;
	align-content: center;
	background-size: cover;
}
div {
	aspect-ratio: 1/1;
	font-size: 1em;
	text-align: center;
	color: gainsboro;
}
img {
	object-fit: contain;
	aspect-ratio: 1/1;

	text-align: center;
	animation: 
}
.featureButton {
	
	border-radius: 10px;
	padding: 2% 0;
	background-color:goldenrod;
	font-size: 2.5vw;
}


.draggable {
	height: 9%;
	width: 9%;
	float:left;
	/*height: 52px;*/
	object-fit: contain;
	
}
.long {
	background-image: url(../media/borderTile.png);
	
	
	/*height: 9%;
	width: 9%;*/
	
}
.short {
	background-image: url(../media/borderTile.png);
	/*height: 9%;
	width: 9%;*/
	
}
.draggable p {
	font-size: 5%;
	text-align: center;
	/*padding: -20px 0 0 0;*/
	
	font-weight:900;
}
.draggable.ui-draggable-dragging {
	background: red;
	/*height: 9%;
	width: 9%;*/
}